openapi: 3.1.0
info:
  title: InfinityBlue API
  version: 1.0.0
  summary: Unified OpenAI-compatible API gateway
  description: |
    InfinityBlue is a unified API gateway for AI models. It exposes
    OpenAI-compatible endpoints for chat, images, videos, embeddings,
    and more — backed by 100+ models from OpenAI, Anthropic, Google,
    ByteDance, and Stability.

    ## Authentication

    All requests require a Bearer token:

    ```
    Authorization: Bearer YOUR_API_KEY
    ```

    ## Endpoint format conventions

    - `/v1/*` — OpenAI-compatible (and OpenAI Responses)
    - `/v1/messages` — Anthropic Messages format
    - `/v1beta/models/*:generateContent` — Google Gemini native format

    ## Model selection

    Pass any model ID in the `model` parameter. See
    [`GET /v1/models`](/api-reference/models/list-models) for the full
    list. Common IDs:
    - Chat: `gpt-4o`, `gpt-5`, `claude-sonnet-4-6`, `gemini-2.5-pro`
    - Image: `gpt-image-1`, `dall-e-3`, `flux-pro-1.1`
    - Video: `seedance-2.0`, `veo_3_1-fast`, `sora-2`

    ## Rate limits

    Per API key:
    - 60 requests/minute
    - 500,000 tokens/minute

    Higher tiers available in the dashboard.
  contact:
    name: InfinityBlue Support
    email: support@infinityblue.com
    url: https://infinityblue.com/support
  license:
    name: Proprietary
    url: https://infinityblue.com/terms
servers:
  - url: https://api.infinityblue.com
    description: Production
    variables: {}
security:
  - bearerAuth: []
tags:
  - name: models
    description: List and discover available models
  - name: chat
    description: |
      Chat completions. Multiple endpoint formats supported:
      - `/v1/chat/completions` — OpenAI Chat Completions (recommended)
      - `/v1/responses` — OpenAI Responses
      - `/v1/messages` — Anthropic Messages
      - `/v1beta/models/{model}:generateContent` — Google Gemini
  - name: images
    description: |
      Image generation and editing.
      - `/v1/images/*` — OpenAI Images
      - `/v1beta/models/*:generateContent` — Google Gemini (Nano Banana etc.)
  - name: videos
    description: |
      Async video generation. Submit a task, then poll or use
      webhooks to receive completion.
      - `/v1/videos` — main endpoint (supports Seedance, Veo, Sora, Kling)
      - `/v1/video/generations` — legacy alias (deprecated)
paths:
  /v1/models:
    get:
      tags:
        - models
      summary: List available models
      description: |
        Lists all models currently available through InfinityBlue.
        Use this to discover model IDs for the `model` parameter
        of other endpoints.
      operationId: listModels
      x-mint:
        metadata:
          title: List models
          sidebarTitle: List models
          description: Discover all models available through InfinityBlue
      responses:
        '200':
          $ref: '#/components/responses/model-list'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/rate-limited'
  /v1/chat/completions:
    post:
      tags:
        - chat
      summary: Create chat completion (OpenAI format)
      description: |
        OpenAI-compatible chat completions. Works with any model in
        InfinityBlue (OpenAI, Anthropic, Google, etc.).

        For native Anthropic format use `/v1/messages`.
        For native Gemini format use `/v1beta/models/{model}:generateContent`.
      operationId: createChatCompletion
      x-mint:
        metadata:
          title: Chat completions
          sidebarTitle: Chat completions
          description: |
            Generate text, vision, tool-calling, and streaming responses
            in OpenAI-compatible format
        content: |
          ## Streaming

          Set `stream: true` to receive Server-Sent Events. See the
          [Streaming guide](/guides/streaming) for details.

          ## Reasoning models

          For `o-series`, `claude-3-7-sonnet-thinking`, or `gemini-2.5-pro-thinking`,
          the model returns reasoning tokens in a separate `reasoning_content`
          field. Render them collapsed in your UI.

          ## Tool calling

          Up to 128 tools per request. Set `tool_choice` to control which
          tool the model calls (`auto`, `none`, `required`, or force a specific
          function name).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/chat-completion-request'
            examples:
              gpt4o_simple:
                summary: Simple chat with GPT-4o
                value:
                  model: gpt-4o
                  messages:
                    - role: user
                      content: Hello!
              claude_streaming:
                summary: Streaming with Claude
                value:
                  model: claude-sonnet-4-6
                  stream: true
                  messages:
                    - role: user
                      content: Write a haiku about programming
              vision:
                summary: Vision input
                value:
                  model: gpt-4o
                  messages:
                    - role: user
                      content:
                        - type: text
                          text: What's in this image?
                        - type: image_url
                          image_url:
                            url: https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Cat03.jpg/640px-Cat03.jpg
              tool_calling:
                summary: Function calling
                value:
                  model: gpt-4o
                  messages:
                    - role: user
                      content: What's the weather in Paris?
                  tools:
                    - type: function
                      function:
                        name: get_weather
                        description: Get current weather for a city
                        parameters:
                          type: object
                          properties:
                            location:
                              type: string
                              description: City name
                          required:
                            - location
                  tool_choice: auto
              json_mode:
                summary: Structured output (JSON schema)
                value:
                  model: gpt-4o
                  messages:
                    - role: system
                      content: Extract the city and country from the user's message.
                    - role: user
                      content: I just moved to Paris, France
                  response_format:
                    type: json_schema
                    json_schema:
                      name: location
                      schema:
                        type: object
                        properties:
                          city:
                            type: string
                          country:
                            type: string
                        required:
                          - city
                          - country
                        additionalProperties: false
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chat-completion-response'
            text/event-stream:
              schema:
                type: string
                description: |
                  Server-Sent Events when `stream=true`. Each line is
                  `data: {json}`. Stream ends with `data: [DONE]`.
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '429':
          $ref: '#/components/responses/rate-limited'
        '500':
          $ref: '#/components/responses/server-error'
  /v1/responses:
    post:
      tags:
        - chat
      summary: Create response (OpenAI Responses format)
      description: |
        OpenAI Responses API format. Recommended for new applications
        that need built-in tool use (web search, file search, code interpreter)
        and stateful conversations.

        For most chat use cases, `/v1/chat/completions` is sufficient.
      operationId: createResponse
      x-mint:
        metadata:
          title: Responses
          sidebarTitle: Responses (OpenAI format)
          description: OpenAI Responses API — built-in tools and stateful conversations
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - model
                - input
              properties:
                model:
                  type: string
                  example: gpt-5
                input:
                  type: array
                  description: |
                    List of input items. Can be plain text strings or
                    structured items (messages, tool results, function calls).
                  items:
                    oneOf:
                      - type: string
                      - type: object
                        properties:
                          role:
                            type: string
                            enum:
                              - user
                              - assistant
                              - system
                              - developer
                          content:
                            type: string
                instructions:
                  type: string
                  description: |
                    System-level instructions. Equivalent to a `system` message
                    at the start of `input`.
                previous_response_id:
                  type: string
                  description: |
                    Chain to a previous response. When set, the model sees
                    the full conversation history of the previous response.
                    Use this for stateful multi-turn without resending all
                    messages.
                tools:
                  type: array
                  items:
                    type: object
                    required:
                      - type
                    properties:
                      type:
                        type: string
                        enum:
                          - web_search
                          - file_search
                          - function
                          - code_interpreter
                stream:
                  type: boolean
                  default: false
                temperature:
                  type: number
                  minimum: 0
                  maximum: 2
                  default: 1
                max_output_tokens:
                  type: integer
                  minimum: 1
                user:
                  type: string
            examples:
              basic:
                value:
                  model: gpt-5
                  input: What's the capital of France?
              stateful:
                summary: Stateful multi-turn via previous_response_id
                value:
                  model: gpt-5
                  previous_response_id: resp_abc123
                  input: Now translate that to Japanese
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: resp_abc123
                  object:
                    type: string
                    enum:
                      - response
                  created_at:
                    type: integer
                  model:
                    type: string
                  status:
                    type: string
                    enum:
                      - completed
                      - failed
                      - in_progress
                      - cancelled
                  output:
                    type: array
                    items:
                      type: object
                  usage:
                    $ref: '#/components/schemas/usage'
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/rate-limited'
        '500':
          $ref: '#/components/responses/server-error'
  /v1/messages:
    post:
      tags:
        - chat
      summary: Create message (Anthropic Messages format)
      description: |
        Native Anthropic Messages API format. Use this when you want full
        access to Anthropic-specific features:
        - Prompt caching (explicit cache breakpoints)
        - Extended thinking with budget control
        - PDF input
        - Citations
        - Computer use (beta)

        For general cross-model chat, use `/v1/chat/completions` instead.
      operationId: createMessage
      x-mint:
        metadata:
          title: Messages (Anthropic)
          sidebarTitle: Messages (Anthropic)
          description: Native Anthropic Messages API — full feature access
        content: |
          ## Extended thinking

          Add `"thinking": {"type": "enabled", "budget_tokens": 5000}` to enable
          chain-of-thought. The response will include a `thinking` content block
          alongside the `text` block.

          ## Prompt caching

          Mark cache breakpoints with `"cache_control": {"type": "ephemeral"}`
          on a content block. Subsequent requests with the same prefix get
          up to 90% discount on cached tokens.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - model
                - max_tokens
                - messages
              properties:
                model:
                  type: string
                  example: claude-sonnet-4-6
                max_tokens:
                  type: integer
                  minimum: 1
                  description: |
                    Maximum tokens to generate. **Required** in Messages API
                    (unlike Chat Completions where it is optional).
                messages:
                  type: array
                  minItems: 1
                  items:
                    type: object
                    required:
                      - role
                      - content
                    properties:
                      role:
                        type: string
                        enum:
                          - user
                          - assistant
                      content:
                        oneOf:
                          - type: string
                          - type: array
                            items:
                              type: object
                              required:
                                - type
                              properties:
                                type:
                                  type: string
                                  enum:
                                    - text
                                    - image
                                    - document
                                    - tool_use
                                    - tool_result
                                    - thinking
                system:
                  type: string
                  description: |
                    System prompt. Equivalent to a `system` message in
                    Chat Completions.
                temperature:
                  type: number
                  minimum: 0
                  maximum: 1
                  default: 1
                top_p:
                  type: number
                  minimum: 0
                  maximum: 1
                top_k:
                  type: integer
                  minimum: 0
                  description: |
                    Sample from the top K options at each step. Lower = more focused.
                stop_sequences:
                  type: array
                  items:
                    type: string
                stream:
                  type: boolean
                  default: false
                thinking:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                        - enabled
                        - disabled
                    budget_tokens:
                      type: integer
                      minimum: 1024
                tools:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      description:
                        type: string
                      input_schema:
                        type: object
                tool_choice:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                        - auto
                        - any
                        - tool
                        - none
                    name:
                      type: string
                metadata:
                  type: object
                  properties:
                    user_id:
                      type: string
                      description: Unique end-user ID for abuse detection
            examples:
              basic:
                value:
                  model: claude-sonnet-4-6
                  max_tokens: 1024
                  messages:
                    - role: user
                      content: Hello!
              with_thinking:
                summary: Extended thinking
                value:
                  model: claude-sonnet-4-6
                  max_tokens: 8000
                  thinking:
                    type: enabled
                    budget_tokens: 5000
                  messages:
                    - role: user
                      content: 'Solve: x^2 - 4x + 3 = 0'
              with_cache:
                summary: Prompt caching
                value:
                  model: claude-sonnet-4-6
                  max_tokens: 1024
                  system: |
                    You are an expert legal analyst. [long system prompt]
                    <cache_break>
                  messages:
                    - role: user
                      content: Summarize contract
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: msg_abc123
                  type:
                    type: string
                    enum:
                      - message
                  role:
                    type: string
                    enum:
                      - assistant
                  content:
                    type: array
                    items:
                      type: object
                      required:
                        - type
                      properties:
                        type:
                          type: string
                          enum:
                            - text
                            - thinking
                            - tool_use
                        text:
                          type: string
                        thinking:
                          type: string
                        id:
                          type: string
                          description: For tool_use blocks
                        name:
                          type: string
                        input:
                          type: object
                  model:
                    type: string
                  stop_reason:
                    type: string
                    enum:
                      - end_turn
                      - max_tokens
                      - stop_sequence
                      - tool_use
                  usage:
                    type: object
                    properties:
                      input_tokens:
                        type: integer
                      output_tokens:
                        type: integer
                      cache_creation_input_tokens:
                        type: integer
                        description: Tokens written to cache
                      cache_read_input_tokens:
                        type: integer
                        description: Tokens served from cache
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/rate-limited'
        '500':
          $ref: '#/components/responses/server-error'
  /v1/images/generations:
    post:
      tags:
        - images
      summary: Create image (OpenAI format)
      description: |
        Generate images from a text prompt. OpenAI Images-compatible.
        For image editing (inpainting, multi-image edit), use `/v1/images/edits`.
        For native Gemini image generation (Nano Banana), use
        `/v1beta/models/{model}:generateContent`.
      operationId: createImage
      x-mint:
        metadata:
          title: Generate images
          sidebarTitle: Generate images
          description: Text-to-image generation across multiple model providers
        content: |
          ## Model selection

          - `gpt-image-1` — best quality, supports `transparent` background,
            multi-image edit, `low/medium/high/auto` quality levels
          - `dall-e-3` — reliable, supports `vivid`/`natural` style
          - `flux-pro-1.1` — photorealistic, artistic
          - `qwen-image` — best for **Chinese text** in images
          - `sd-3.5-large` — open-weights style, customizable

          ## Output formats

          - `url` (default) — temporary URL, expires in 60 minutes
          - `b64_json` — base64-encoded PNG bytes (for permanent storage)
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/image-generation-request'
            examples:
              gpt_image_1:
                summary: gpt-image-1 high quality
                value:
                  model: gpt-image-1
                  prompt: A serene mountain landscape at sunset, oil painting style
                  size: 1536x1024
                  quality: high
              dall_e_3:
                summary: DALL-E 3 with style
                value:
                  model: dall-e-3
                  prompt: A cute robot reading a book in a cozy library
                  size: 1024x1024
                  style: natural
              qwen_chinese_text:
                summary: qwen-image with Chinese text in image
                value:
                  model: qwen-image
                  prompt: A vintage poster that says "复古海报" in bold red Chinese characters, art deco style
                  size: 1024x1536
              multiple_images:
                value:
                  model: gpt-image-1
                  prompt: A serene mountain landscape at sunset
                  'n': 4
                  size: 1024x1024
              transparent_bg:
                value:
                  model: gpt-image-1
                  prompt: A red apple, isolated on white
                  background: transparent
                  output_format: png
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/image-generation-response'
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '429':
          $ref: '#/components/responses/rate-limited'
        '500':
          $ref: '#/components/responses/server-error'
  /v1/images/edits:
    post:
      tags:
        - images
      summary: Edit image (OpenAI format)
      description: |
        Edit or extend images using a prompt and optional mask.
        OpenAI Images-compatible.

        **Send as `multipart/form-data`**, not JSON.
      operationId: editImage
      x-mint:
        metadata:
          title: Edit images
          sidebarTitle: Edit images
          description: Inpaint, outpaint, and multi-image edits
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/image-edit-request'
            encoding:
              image:
                contentType: image/png, image/jpeg, image/webp
              mask:
                contentType: image/png
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/image-generation-response'
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '413':
          description: |
            Image too large. Max size is 4MB for `image` and 4MB for `mask`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '429':
          $ref: '#/components/responses/rate-limited'
        '500':
          $ref: '#/components/responses/server-error'
  /v1/videos:
    post:
      tags:
        - videos
      summary: Create video generation task
      description: |
        Submit a video generation task. Async — you receive a `VideoTask`
        immediately with `status=queued` or `in_progress`. Poll
        `GET /v1/videos/{task_id}` to check progress, or register a webhook
        to be notified on completion.

        **All video models share this endpoint.** The model is selected via
        the `model` parameter; supported parameters and output formats
        vary by model — see the [model reference](/guides/model-selection).

        ## Supported models

        | Model | Duration | Resolutions | Notable features |
        |---|---|---|---|
        | `seedance-2.0` | 5s, 10s | 720p, 1080p | Ref images, fast |
        | `veo_3_1-fast` | 8s | 720p, 1080p | Audio generation, ref images |
        | `veo_3_1-pro` | 8s | 720p, 1080p, 4K | Highest quality, audio |
        | `sora-2` | 5s, 10s, 15s, 20s | 1080p | Long-form, cinematic |
        | `kling-1.6-pro` | 5s, 10s | 1080p | Strong motion, character ref |
      operationId: createVideo
      x-mint:
        metadata:
          title: Create video
          sidebarTitle: Create video
          description: |
            Async video generation. Returns a task ID — poll for completion
            or use webhooks.
        content: |
          ## Webhooks vs polling

          **Recommended for production**: register a webhook URL in your
          dashboard. The gateway will POST the completed `VideoTask` to
          your endpoint when the video is ready.

          **For quick tests**: poll `GET /v1/videos/{task_id}` every 5-10s
          until `status=completed`.

          Typical generation time: 30s - 3min depending on model and length.

          ## Cost

          Each `n` count is a separate task. A request with `n: 4` and
          `seconds: "10"` generates 4 × 10-second videos.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/video-creation-request'
            examples:
              seedance_text:
                summary: Seedance 2.0 — text-to-video
                value:
                  model: seedance-2.0
                  prompt: A cat playing piano in a jazz club, smoke, warm lighting, cinematic
                  size: 1280x720
                  seconds: '5'
              seedance_i2v:
                summary: Seedance 2.0 — image-to-video
                value:
                  model: seedance-2.0
                  prompt: The character walks forward, then waves at the camera
                  ref_images:
                    - https://example.com/character-reference.png
                  size: 1280x720
                  seconds: '5'
              veo_fast:
                summary: Veo 3.1 fast with audio
                value:
                  model: veo_3_1-fast
                  prompt: Ocean waves crashing on rocks at sunset, with seagulls crying
                  size: 1280x720
                  seconds: '8'
                  metadata:
                    audio: true
              veo_pro:
                summary: Veo 3.1 pro — 4K with audio
                value:
                  model: veo_3_1-pro
                  prompt: A futuristic city skyline at night, neon lights reflecting on wet streets
                  size: 1920x1080
                  seconds: '8'
                  metadata:
                    audio: true
                    style: cinematic
                    camera: pan_right
              sora_2_long:
                summary: Sora 2 — long-form cinematic
                value:
                  model: sora-2
                  prompt: |
                    A detective walks through a rainy 1940s city street, camera follows
                    from behind, neon signs reflect in puddles, jazz music plays from
                    a nearby club. Cinematic, noir, 35mm film grain.
                  size: 1920x1080
                  seconds: '15'
                  seed: 12345
                  metadata:
                    style: noir
                    quality_level: high
              kling_character:
                summary: Kling — character consistency
                value:
                  model: kling-1.6-pro
                  prompt: The character dances happily in a field of flowers
                  ref_images:
                    - https://example.com/character-front.png
                    - https://example.com/character-side.png
                  size: 1280x720
                  seconds: '10'
                  metadata:
                    negative_prompt: blurry, distorted, extra limbs
      responses:
        '200':
          description: |
            Task created. Status will be `queued` or `in_progress`. Poll
            `GET /v1/videos/{task_id}` for updates.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/video-task'
              example:
                id: video_abc123def456
                object: video
                model: seedance-2.0
                status: queued
                progress: 0
                created_at: 1700000000
                seconds: '5'
                size: 1280x720
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '429':
          $ref: '#/components/responses/rate-limited'
        '500':
          $ref: '#/components/responses/server-error'
  /v1/videos/{task_id}:
    get:
      tags:
        - videos
      summary: Get video task status
      description: |
        Retrieve the current status of a video generation task. Poll this
        endpoint until `status=completed`, or use a webhook to be notified
        automatically.
      operationId: getVideoTask
      x-mint:
        metadata:
          title: Get video status
          sidebarTitle: Get video status
          description: Poll for the status of a video generation task
      parameters:
        - name: task_id
          in: path
          required: true
          description: The video task ID returned from `POST /v1/videos`
          schema:
            type: string
            example: video_abc123def456
      responses:
        '200':
          description: Task status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/video-task'
              examples:
                queued:
                  summary: Task just submitted
                  value:
                    id: video_abc123def456
                    object: video
                    model: seedance-2.0
                    status: queued
                    progress: 0
                    created_at: 1700000000
                    seconds: '5'
                    size: 1280x720
                in_progress:
                  summary: Mid-generation
                  value:
                    id: video_abc123def456
                    object: video
                    model: seedance-2.0
                    status: in_progress
                    progress: 45
                    created_at: 1700000000
                    seconds: '5'
                    size: 1280x720
                completed:
                  summary: Done — URL available until expires_at
                  value:
                    id: video_abc123def456
                    object: video
                    model: seedance-2.0
                    status: completed
                    progress: 100
                    created_at: 1700000000
                    completed_at: 1700000120
                    expires_at: 1700003720
                    seconds: '5'
                    size: 1280x720
                    url: https://cdn.infinityblue.com/videos/abc123.mp4
                failed:
                  summary: Generation failed
                  value:
                    id: video_abc123def456
                    object: video
                    model: seedance-2.0
                    status: failed
                    progress: 30
                    created_at: 1700000000
                    seconds: '5'
                    size: 1280x720
                    error:
                      code: content_policy_violation
                      message: Prompt was blocked by content filter
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not-found'
        '429':
          $ref: '#/components/responses/rate-limited'
  /v1/videos/{task_id}/content:
    get:
      tags:
        - videos
      summary: Download video content
      description: |
        Download the generated video file as binary content (MP4).
        For permanent storage, download and re-host — the `url` field
        in the task object expires at `expires_at`.
      operationId: getVideoContent
      x-mint:
        metadata:
          title: Download video
          sidebarTitle: Download video
          description: Stream the generated video as MP4 bytes
      parameters:
        - name: task_id
          in: path
          required: true
          description: The completed video task ID
          schema:
            type: string
      responses:
        '200':
          description: Video file
          content:
            video/mp4:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          description: |
            Task not found OR task is not yet completed. If `status` is
            not `completed`, this returns 404.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '410':
          description: |
            Video content has expired and is no longer available.
            You will need to regenerate the video.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        '429':
          $ref: '#/components/responses/rate-limited'
  /v1/video/generations:
    post:
      tags:
        - videos
      summary: Create video (legacy path)
      deprecated: true
      description: |
        **DEPRECATED**: Use [`POST /v1/videos`](/api-reference/videos/create-video)
        instead. This endpoint will be removed in a future release.

        Identical behavior to `/v1/videos` — kept as a transitional alias.
      operationId: createVideoLegacy
      x-mint:
        metadata:
          title: Create video (legacy — deprecated)
          sidebarTitle: Create video (legacy)
          description: |
            **Deprecated.** Use POST /v1/videos instead.
            This endpoint will be removed.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/video-creation-request'
      responses:
        '200':
          description: Task created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/video-task'
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/rate-limited'
        '500':
          $ref: '#/components/responses/server-error'
  /v1/video/generations/{task_id}:
    get:
      tags:
        - videos
      summary: Get video status (legacy path)
      deprecated: true
      description: |
        **DEPRECATED**: Use [`GET /v1/videos/{task_id}`](/api-reference/videos/get-video-task)
        instead.
      operationId: getVideoTaskLegacy
      x-mint:
        metadata:
          title: Get video status (legacy — deprecated)
          sidebarTitle: Get video status (legacy)
          description: |
            **Deprecated.** Use GET /v1/videos/{task_id} instead.
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Task status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/video-task'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not-found'
  /v1beta/models:
    get:
      tags:
        - models
      summary: List models (Gemini format)
      description: |
        Lists models in Google Gemini's native response format.
        Useful when integrating with existing Gemini code.
      operationId: listModelsGemini
      x-mint:
        metadata:
          title: List models (Gemini format)
          sidebarTitle: List models (Gemini)
          description: List models in Google Gemini native format
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  models:
                    type: array
                    items:
                      $ref: '#/components/schemas/model-info'
                  nextPageToken:
                    type:
                      - string
                      - 'null'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/rate-limited'
  /v1beta/models/{model}:generateContent:
    post:
      tags:
        - chat
        - images
      summary: Generate content (Gemini format)
      description: |
        Native Google Gemini format. The response format and
        multimodal capabilities depend on the model:

        | Model | Text | Image | Audio | Video |
        |---|---|---|---|---|
        | `gemini-2.5-pro` | ✅ | ✅ | ✅ | ✅ |
        | `gemini-2.0-flash` | ✅ | ✅ | ✅ | ✅ |
        | `gemini-2.5-flash-image` (Nano Banana) | ✅ | ✅ out | — | — |

        For pure text chat, prefer `/v1/chat/completions`.
      operationId: geminiGenerateContent
      x-mint:
        metadata:
          title: Generate content (Gemini)
          sidebarTitle: Generate content (Gemini)
          description: Native Gemini generateContent — supports text, image, audio, video
      parameters:
        - name: model
          in: path
          required: true
          description: Model ID (e.g. `gemini-2.5-pro`, `gemini-2.0-flash`)
          schema:
            type: string
            example: gemini-2.5-pro
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - contents
              properties:
                contents:
                  type: array
                  description: |
                    Conversation contents. Each turn has `role` (`user` or
                    `model`) and `parts` (an array of typed parts).
                  items:
                    type: object
                    required:
                      - role
                      - parts
                    properties:
                      role:
                        type: string
                        enum:
                          - user
                          - model
                      parts:
                        type: array
                        items:
                          oneOf:
                            - type: object
                              properties:
                                text:
                                  type: string
                            - type: object
                              properties:
                                inline_data:
                                  type: object
                                  properties:
                                    mime_type:
                                      type: string
                                      example: image/jpeg
                                    data:
                                      type: string
                                      description: Base64-encoded
                            - type: object
                              properties:
                                file_data:
                                  type: object
                                  properties:
                                    mime_type:
                                      type: string
                                    file_uri:
                                      type: string
                                      format: uri
                systemInstruction:
                  type: object
                  properties:
                    parts:
                      type: array
                      items:
                        type: object
                        properties:
                          text:
                            type: string
                generationConfig:
                  type: object
                  description: |
                    Model configuration. For image generation, include
                    `responseModalities: ["IMAGE"]` and `imageConfig`.
                  properties:
                    temperature:
                      type: number
                      minimum: 0
                      maximum: 2
                    topP:
                      type: number
                      minimum: 0
                      maximum: 1
                    topK:
                      type: integer
                    maxOutputTokens:
                      type: integer
                    stopSequences:
                      type: array
                      items:
                        type: string
                    responseMimeType:
                      type: string
                      enum:
                        - text/plain
                        - application/json
                    responseSchema:
                      type: object
                      description: JSON Schema for structured output
                    responseModalities:
                      type: array
                      items:
                        type: string
                        enum:
                          - TEXT
                          - IMAGE
                      description: |
                        For image generation, set to `["IMAGE"]` or
                        `["TEXT", "IMAGE"]` for text+image.
                    imageConfig:
                      type: object
                      description: Image generation config (for Nano Banana etc.)
                      properties:
                        aspectRatio:
                          type: string
                          enum:
                            - '1:1'
                            - '2:3'
                            - '3:2'
                            - '3:4'
                            - '4:3'
                            - '9:16'
                            - '16:9'
                            - '21:9'
                        imageSize:
                          type: string
                          enum:
                            - 1K
                            - 2K
                            - 4K
                safetySettings:
                  type: array
                  items:
                    type: object
                    properties:
                      category:
                        type: string
                        enum:
                          - HARM_CATEGORY_HARASSMENT
                          - HARM_CATEGORY_HATE_SPEECH
                          - HARM_CATEGORY_SEXUALLY_EXPLICIT
                          - HARM_CATEGORY_DANGEROUS_CONTENT
                      threshold:
                        type: string
                        enum:
                          - BLOCK_NONE
                          - BLOCK_LOW_AND_ABOVE
                          - BLOCK_MEDIUM_AND_ABOVE
                          - BLOCK_ONLY_HIGH
            examples:
              text_chat:
                value:
                  contents:
                    - role: user
                      parts:
                        - text: Explain quantum entanglement in one paragraph.
              with_image:
                value:
                  contents:
                    - role: user
                      parts:
                        - text: What's in this image?
                        - inline_data:
                            mime_type: image/jpeg
                            data: /9j/4AAQSkZJRgABAQAA...
              image_generation:
                summary: Nano Banana image generation
                value:
                  contents:
                    - role: user
                      parts:
                        - text: A futuristic city at sunset
                  generationConfig:
                    responseModalities:
                      - IMAGE
                    imageConfig:
                      aspectRatio: '16:9'
                      imageSize: 2K
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  candidates:
                    type: array
                    items:
                      type: object
                      properties:
                        content:
                          type: object
                          properties:
                            role:
                              type: string
                              enum:
                                - model
                            parts:
                              type: array
                              items:
                                oneOf:
                                  - type: object
                                    properties:
                                      text:
                                        type: string
                                  - type: object
                                    properties:
                                      inline_data:
                                        type: object
                                        properties:
                                          mime_type:
                                            type: string
                                          data:
                                            type: string
                                            description: Base64-encoded image
                        finishReason:
                          type: string
                          enum:
                            - STOP
                            - MAX_TOKENS
                            - SAFETY
                            - RECITATION
                            - OTHER
                        safetyRatings:
                          type: array
                          items:
                            type: object
                            properties:
                              category:
                                type: string
                              probability:
                                type: string
                                enum:
                                  - NEGLIGIBLE
                                  - LOW
                                  - MEDIUM
                                  - HIGH
                  usageMetadata:
                    type: object
                    properties:
                      promptTokenCount:
                        type: integer
                      candidatesTokenCount:
                        type: integer
                      totalTokenCount:
                        type: integer
                      cachedContentTokenCount:
                        type: integer
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/rate-limited'
        '500':
          $ref: '#/components/responses/server-error'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: |
        Pass your API key as a Bearer token:
        `Authorization: Bearer YOUR_API_KEY`
  schemas:
    Error:
      $ref: '#/components/schemas/error'
    ChatMessage:
      $ref: '#/components/schemas/chat-message'
    ToolCall:
      $ref: '#/components/schemas/tool-call'
    Tool:
      $ref: '#/components/schemas/tool'
    Usage:
      $ref: '#/components/schemas/usage'
    ModelInfo:
      $ref: '#/components/schemas/model-info'
    ChatCompletionRequest:
      $ref: '#/components/schemas/chat-completion-request'
    ChatCompletionResponse:
      $ref: '#/components/schemas/chat-completion-response'
    ChatCompletionChoice:
      $ref: '#/components/schemas/chat-completion-choice'
    ContentPartText:
      $ref: '#/components/schemas/content-part-text'
    ContentPartImage:
      $ref: '#/components/schemas/content-part-image'
    ContentPartAudio:
      $ref: '#/components/schemas/content-part-audio'
    ResponseFormatText:
      $ref: '#/components/schemas/response-format-text'
    ResponseFormatJsonObject:
      $ref: '#/components/schemas/response-format-json-object'
    ResponseFormatJsonSchema:
      $ref: '#/components/schemas/response-format-json-schema'
    ImageGenerationRequest:
      $ref: '#/components/schemas/image-generation-request'
    ImageGenerationResponse:
      $ref: '#/components/schemas/image-generation-response'
    ImageEditRequest:
      $ref: '#/components/schemas/image-edit-request'
    VideoTask:
      $ref: '#/components/schemas/video-task'
    VideoCreationRequest:
      $ref: '#/components/schemas/video-creation-request'
    model-info:
      type: object
      required:
        - id
        - object
        - created
        - owned_by
      properties:
        id:
          type: string
          description: Model identifier (used in the `model` parameter of requests)
          example: gpt-4o
        object:
          type: string
          enum:
            - model
        created:
          type: integer
          description: Unix timestamp of when the model was added
          example: 1700000000
        owned_by:
          type: string
          description: Organization that owns/created the model
          example: openai
    error:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - message
            - type
          properties:
            message:
              type: string
              description: Human-readable error description.
              example: Invalid API key
            type:
              type: string
              description: |
                Error category. One of:
                - `invalid_request_error` (400)
                - `authentication_error` (401)
                - `permission_error` (403)
                - `not_found_error` (404)
                - `rate_limit_error` (429)
                - `server_error` (500+)
              enum:
                - invalid_request_error
                - authentication_error
                - permission_error
                - not_found_error
                - rate_limit_error
                - server_error
            code:
              type:
                - string
                - 'null'
              description: Machine-readable error code.
              example: invalid_api_key
            param:
              type:
                - string
                - 'null'
              description: Parameter that caused the error (if applicable).
              example: model
    content-part-text:
      type: object
      required:
        - type
        - text
      properties:
        type:
          type: string
          enum:
            - text
        text:
          type: string
          description: Text content
          example: What is in this image?
    content-part-image:
      type: object
      required:
        - type
        - image_url
      properties:
        type:
          type: string
          enum:
            - image_url
        image_url:
          type: object
          required:
            - url
          properties:
            url:
              type: string
              format: uri
              description: |
                Image URL or `data:image/jpeg;base64,...` data URI.
              example: https://example.com/cat.jpg
            detail:
              type: string
              enum:
                - auto
                - low
                - high
              default: auto
              description: |
                Processing detail level. `low` uses 512×512 thumbnail (cheap),
                `high` does detailed analysis (expensive), `auto` lets the
                model decide.
    content-part-audio:
      type: object
      required:
        - type
        - input_audio
      properties:
        type:
          type: string
          enum:
            - input_audio
        input_audio:
          type: object
          required:
            - data
            - format
          properties:
            data:
              type: string
              description: Base64-encoded audio data.
            format:
              type: string
              enum:
                - wav
                - mp3
              description: Audio container format.
    tool-call:
      type: object
      required:
        - id
        - type
        - function
      properties:
        id:
          type: string
          description: Unique tool call ID
          example: call_abc123
        type:
          type: string
          enum:
            - function
        function:
          type: object
          required:
            - name
            - arguments
          properties:
            name:
              type: string
              description: Name of the function to call
              example: get_weather
            arguments:
              type: string
              description: |
                JSON-encoded arguments for the function. Must be valid JSON
                matching the function's `parameters` schema.
              example: '{"location": "Paris"}'
    chat-message:
      type: object
      required:
        - role
        - content
      properties:
        role:
          type: string
          enum:
            - system
            - user
            - assistant
            - tool
            - developer
          description: |
            The role of the message author.
            - `system`: top-level instructions (highest priority for most models)
            - `developer`: alias of system in newer OpenAI models
            - `user`: end-user input
            - `assistant`: prior model output
            - `tool`: tool/function result
        content:
          description: |
            Message content. Can be plain text (string) or an array of multimodal
            parts (text + image_url + input_audio).
          oneOf:
            - type: string
              example: Hello, how are you?
            - type: array
              items:
                oneOf:
                  - $ref: '#/components/schemas/content-part-text'
                  - $ref: '#/components/schemas/content-part-image'
                  - $ref: '#/components/schemas/content-part-audio'
        name:
          type: string
          description: |
            Optional name of the author. Used to identify participants in
            multi-user conversations or to label tool results.
        tool_call_id:
          type: string
          description: |
            Required when `role` is `tool`. The ID of the tool call this
            message is responding to.
          example: call_abc123
        tool_calls:
          type: array
          description: |
            Present on `assistant` messages when the model wants to call tools.
          items:
            $ref: '#/components/schemas/tool-call'
    tool:
      type: object
      required:
        - type
        - function
      properties:
        type:
          type: string
          enum:
            - function
        function:
          type: object
          required:
            - name
          properties:
            name:
              type: string
              description: Function name
              example: get_weather
            description:
              type: string
              description: |
                What the function does. The model uses this to decide when to
                call the function. Be specific and clear.
            parameters:
              type: object
              description: |
                JSON Schema describing the function arguments.
              example:
                type: object
                properties:
                  location:
                    type: string
                    description: City name
                required:
                  - location
            strict:
              type: boolean
              default: false
              description: |
                When true, enforces strict schema adherence (no extra properties,
                all required fields present).
    response-format-text:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          enum:
            - text
    response-format-json-object:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          enum:
            - json_object
    response-format-json-schema:
      type: object
      required:
        - type
        - json_schema
      properties:
        type:
          type: string
          enum:
            - json_schema
        json_schema:
          type: object
          required:
            - name
            - schema
          properties:
            name:
              type: string
              description: Schema name (used in error messages)
            description:
              type: string
              description: What the output represents
            schema:
              type: object
              description: |
                The JSON Schema the model should conform to.
                Supports standard JSON Schema 2020-12 features.
            strict:
              type: boolean
              default: true
              description: |
                When true, the model output is guaranteed to validate against the schema.
    chat-completion-request:
      type: object
      required:
        - model
        - messages
      properties:
        model:
          type: string
          description: |
            ID of the model to use. See `/v1/models` for available models.
            Common values: `gpt-4o`, `gpt-4o-mini`, `claude-3-5-sonnet-latest`,
            `claude-sonnet-4-6`, `gemini-2.0-flash`, `gemini-2.5-pro`.
          example: gpt-4o
        messages:
          type: array
          minItems: 1
          description: |
            A list of messages comprising the conversation so far.
            Roles: `system`, `user`, `assistant`, `tool`, `developer`.
          items:
            $ref: '#/components/schemas/chat-message'
        temperature:
          type: number
          minimum: 0
          maximum: 2
          default: 1
          description: |
            Sampling temperature. Higher values (e.g. 0.8) make output more random,
            lower values (e.g. 0.2) make it more focused. 0 is deterministic.
        top_p:
          type: number
          minimum: 0
          maximum: 1
          default: 1
          description: |
            Nucleus sampling. Consider only tokens with cumulative probability
            ≥ top_p. 0.1 means only the top 10% probable tokens are considered.
        'n':
          type: integer
          minimum: 1
          default: 1
          description: How many chat completion choices to generate for each input.
        max_tokens:
          type: integer
          minimum: 1
          description: |
            Maximum number of tokens to generate in the completion.
            The token count includes visible tokens and reasoning tokens.
        max_completion_tokens:
          type: integer
          minimum: 1
          description: |
            Newer alias for `max_tokens` used in GPT-4o+ models.
        stream:
          type: boolean
          default: false
          description: |
            If true, sends Server-Sent Events with partial message deltas.
            See the streaming guide for details.
        stop:
          description: |
            Up to 4 sequences where the API will stop generating further tokens.
          oneOf:
            - type: string
            - type: array
              maxItems: 4
              items:
                type: string
        presence_penalty:
          type: number
          minimum: -2
          maximum: 2
          default: 0
          description: |
            Penalize new tokens based on whether they appear in the text so far.
            Positive values discourage repetition.
        frequency_penalty:
          type: number
          minimum: -2
          maximum: 2
          default: 0
          description: |
            Penalize new tokens based on their existing frequency in the text.
            Positive values discourage frequent tokens.
        user:
          type: string
          description: |
            A unique identifier for the end-user. Helps with abuse detection
            and per-user rate limits.
          example: user-1234
        tools:
          type: array
          description: |
            List of tools (functions) the model may call. Up to 128 functions.
          items:
            $ref: '#/components/schemas/tool'
        tool_choice:
          description: |
            Controls which (if any) tool is called by the model.
            - `none`: model will not call any tool
            - `auto`: model decides
            - `required`: model must call at least one tool
            - `{"type": "function", "function": {"name": "my_fn"}}`: force a specific tool
          oneOf:
            - type: string
              enum:
                - none
                - auto
                - required
            - type: object
              required:
                - type
                - function
              properties:
                type:
                  type: string
                  enum:
                    - function
                function:
                  type: object
                  required:
                    - name
                  properties:
                    name:
                      type: string
        response_format:
          description: |
            Forces the model to produce a specific output structure.
            - `{"type": "text"}`: default
            - `{"type": "json_object"}`: valid JSON
            - `{"type": "json_schema", "json_schema": {...}}`: JSON matching a schema
          oneOf:
            - $ref: '#/components/schemas/response-format-text'
            - $ref: '#/components/schemas/response-format-json-object'
            - $ref: '#/components/schemas/response-format-json-schema'
        seed:
          type: integer
          description: |
            If specified, the system will make a best effort to sample deterministically.
            Same seed + same parameters → similar output.
        reasoning_effort:
          type: string
          enum:
            - low
            - medium
            - high
          description: |
            Constrains effort on reasoning for reasoning models (o-series, Claude thinking,
            Gemini thinking). Higher = more reasoning tokens.
    chat-completion-choice:
      type: object
      required:
        - index
        - message
        - finish_reason
      properties:
        index:
          type: integer
          description: Choice index (when `n > 1`)
        message:
          type: object
          description: |
            The assistant's reply. Multimodal content may be present in
            `content` as an array.
          required:
            - role
            - content
          properties:
            role:
              type: string
              enum:
                - assistant
            content:
              type: string
              description: Generated text (or null if tool_calls present)
            reasoning_content:
              type: string
              description: |
                Reasoning/thinking tokens (for o-series, Claude thinking, Gemini thinking).
                Shown separately from `content` so the UI can collapse it.
            tool_calls:
              type: array
              items:
                $ref: '#/components/schemas/tool-call'
        finish_reason:
          type: string
          enum:
            - stop
            - length
            - tool_calls
            - content_filter
            - function_call
          description: |
            Why the model stopped generating:
            - `stop`: natural end (hit stop sequence or model decided)
            - `length`: hit `max_tokens` limit
            - `tool_calls`: model wants to call a function
            - `content_filter`: content was blocked
    usage:
      type: object
      required:
        - prompt_tokens
        - completion_tokens
        - total_tokens
      properties:
        prompt_tokens:
          type: integer
          description: Tokens in the input
        completion_tokens:
          type: integer
          description: Tokens in the generated output
        total_tokens:
          type: integer
          description: prompt_tokens + completion_tokens
        prompt_tokens_details:
          type: object
          description: |
            Breakdown of input tokens (e.g. cached tokens with discount).
          properties:
            cached_tokens:
              type: integer
              description: Tokens served from cache (often discounted)
        completion_tokens_details:
          type: object
          description: Breakdown of output tokens.
          properties:
            reasoning_tokens:
              type: integer
              description: |
                Reasoning tokens (for o-series, Claude thinking, Gemini thinking).
                Often billed differently than regular output tokens.
    chat-completion-response:
      type: object
      required:
        - id
        - object
        - created
        - model
        - choices
      properties:
        id:
          type: string
          description: Unique chat completion ID
          example: chatcmpl-abc123
        object:
          type: string
          enum:
            - chat.completion
        created:
          type: integer
          description: Unix timestamp of when the completion was created
          example: 1700000000
        model:
          type: string
          description: Model used for the completion
          example: gpt-4o-2024-08-06
        choices:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/chat-completion-choice'
        usage:
          $ref: '#/components/schemas/usage'
        system_fingerprint:
          type: string
          description: |
            Identifier for the backend configuration. Useful for debugging
            reproducibility issues.
          example: fp_abc123
    image-generation-request:
      type: object
      required:
        - model
        - prompt
      properties:
        model:
          type: string
          description: |
            Model to use. Common values:
            - `gpt-image-1` — OpenAI's latest, supports editing and best quality
            - `dall-e-3` — OpenAI DALL-E 3 (high quality, slower)
            - `flux-pro-1.1` — Black Forest Labs
            - `qwen-image` — Alibaba (best for Chinese text in images)
            - `sd-3.5-large` — Stability AI
          example: gpt-image-1
        prompt:
          type: string
          minLength: 1
          description: |
            Text description of the desired image. Be specific about subject,
            style, lighting, composition, and any text that should appear.
          example: A serene mountain landscape at sunset, oil painting style
        'n':
          type: integer
          minimum: 1
          maximum: 10
          default: 1
          description: How many images to generate
        size:
          type: string
          description: |
            Output image size. Format: `WxH` in pixels.
            - `1024x1024` (square, default)
            - `1024x1536` (portrait)
            - `1536x1024` (landscape)
            - `auto` (model decides; gpt-image-1 only)
          enum:
            - 1024x1024
            - 1024x1536
            - 1536x1024
            - auto
          default: 1024x1024
        quality:
          type: string
          description: |
            Rendering quality. `hd` is slower and more expensive.
            For gpt-image-1, use `low`/`medium`/`high`/`auto`.
          enum:
            - standard
            - hd
            - low
            - medium
            - high
            - auto
          default: standard
        style:
          type: string
          enum:
            - vivid
            - natural
          default: vivid
          description: |
            DALL-E 3 only. `vivid` (default) is more hyper-real and dramatic.
            `natural` is more subdued.
        response_format:
          type: string
          enum:
            - url
            - b64_json
          default: url
          description: |
            How the generated image is returned:
            - `url`: temporary URL (expires in 60 minutes)
            - `b64_json`: base64-encoded PNG bytes
        output_format:
          type: string
          enum:
            - png
            - jpeg
            - webp
          default: png
          description: gpt-image-1 only. Output image format.
        output_compression:
          type: integer
          minimum: 0
          maximum: 100
          default: 100
          description: |
            gpt-image-1 only. Compression level for JPEG/WebP outputs (0-100).
        background:
          type: string
          enum:
            - transparent
            - opaque
            - auto
          default: auto
          description: |
            gpt-image-1 only. `transparent` produces PNG with alpha channel.
        moderation:
          type: string
          enum:
            - auto
            - low
          default: auto
          description: |
            gpt-image-1 only. Content moderation strictness.
        user:
          type: string
          description: Unique end-user identifier (for abuse detection)
          example: user-1234
    image-generation-response:
      type: object
      required:
        - created
        - data
      properties:
        created:
          type: integer
          description: Unix timestamp of when the images were created
          example: 1700000000
        data:
          type: array
          description: Generated images
          items:
            type: object
            required:
              - b64_json
            properties:
              b64_json:
                type: string
                description: |
                  Base64-encoded image. When `response_format=url` is requested
                  on a gpt-image-1 generation, this field contains the data.
              url:
                type: string
                format: uri
                description: |
                  Temporary image URL. Expires in 60 minutes. Download and
                  re-host if you need to keep the image.
              revised_prompt:
                type: string
                description: |
                  DALL-E 3 only. The prompt the model actually used after
                  safety/quality rewrites.
    image-edit-request:
      type: object
      description: |
        Multipart form data request (NOT JSON) for image editing.
        Send with `Content-Type: multipart/form-data`.

        At least one of `image` or `images` must be provided.
      properties:
        image:
          type: string
          format: binary
          description: |
            Single source image (PNG, ≤ 4MB, square). Either this or `images`
            must be provided.
        images:
          type: array
          description: |
            Multiple source images (for gpt-image-1 multi-image edits).
          items:
            type: string
            format: binary
        mask:
          type: string
          format: binary
          description: |
            Optional PNG mask. Transparent areas will be edited; opaque areas
            will be preserved.
        prompt:
          type: string
          description: Text description of the desired edit.
          example: Add a hat on the cat
        model:
          type: string
          description: |
            Model to use. `gpt-image-1` and `dall-e-2` support edits.
          example: gpt-image-1
        'n':
          type: integer
          minimum: 1
          maximum: 10
          default: 1
        size:
          type: string
          enum:
            - 1024x1024
            - 1024x1536
            - 1536x1024
            - auto
          default: 1024x1024
        response_format:
          type: string
          enum:
            - url
            - b64_json
          default: url
        input_fidelity:
          type: string
          enum:
            - low
            - high
            - auto
          default: high
          description: |
            gpt-image-1 only. How closely to preserve input image features.
            `high` (default) preserves more detail but may be less creative.
        user:
          type: string
          description: Unique end-user identifier
    video-creation-request:
      type: object
      description: |
        Submit a video generation task. The response is a `VideoTask` with
        `status=queued` or `in_progress`. Poll `GET /v1/videos/{id}` or
        register a webhook to receive completion.

        The supported parameters vary by model. Common parameters are listed
        below; model-specific extensions go in `metadata`.
      required:
        - model
        - prompt
      properties:
        model:
          type: string
          description: |
            Video model to use. Determines which parameters and capabilities
            are available.
            - `seedance-2.0` — ByteDance Seedance 2.0 (5-10s, 720p/1080p)
            - `veo_3_1-fast` — Google Veo 3.1 fast (8s, 720p/1080p)
            - `veo_3_1-pro` — Google Veo 3.1 pro (8s, 4K)
            - `sora-2` — OpenAI Sora 2 (5-20s, 1080p)
            - `kling-1.6-pro` — Kuaishou Kling 1.6 (5-10s, 1080p)
          example: seedance-2.0
        prompt:
          type: string
          minLength: 1
          maxLength: 4000
          description: |
            Text description of the desired video. Describe subject, action,
            camera movement, lighting, and style. Most models support 200-500
            tokens; longer is more expensive.
          example: A cat playing piano in a jazz club, smoke, warm lighting, cinematic
        ref_images:
          type: array
          description: |
            Reference images to guide generation. Use for image-to-video
            (i2v) or character/style consistency.
            Each entry is either a public URL or a `data:image/...;base64,...`
            data URI. Most models support 1-4 reference images.
          items:
            type: string
            format: uri
          example:
            - https://example.com/reference-character.jpg
        size:
          type: string
          description: |
            Output resolution. Format: `WxH`.
            - `seedance-2.0`: 1280x720, 720x1280, 1920x1080, 1080x1920
            - `veo_3_1-fast`: 1280x720, 720x1280, 1920x1080, 1080x1920
            - `sora-2`: 1280x720, 720x1280, 1920x1080, 1080x1920
          example: 1280x720
        seconds:
          type: string
          description: |
            Output duration. Model-dependent:
            - `seedance-2.0`: "5" or "10"
            - `veo_3_1-fast`/`pro`: "8"
            - `sora-2`: "5", "10", "15", "20"
          example: '5'
        seed:
          type: integer
          description: |
            Random seed for reproducibility. Same seed + same prompt + same
            parameters → similar output.
          example: 20231234
        'n':
          type: integer
          minimum: 1
          maximum: 4
          default: 1
          description: How many videos to generate. Each counts as a separate task.
        response_format:
          type: string
          enum:
            - url
            - b64_json
          default: url
          description: |
            How the final video is returned in the task object.
        user:
          type: string
          description: Unique end-user identifier (for abuse detection and per-user rate limits)
          example: user-1234
        metadata:
          type: object
          additionalProperties: true
          description: |
            Model-specific extensions. Common fields:
            - `negative_prompt` (string): what to avoid
            - `style` (string): style preset (e.g. "cinematic", "anime")
            - `camera` (string): camera movement (e.g. "zoom_in", "pan_left")
            - `fps` (integer): frames per second
            - `audio` (boolean): include generated audio (Veo 3+)
          example:
            negative_prompt: blurry, low quality, distorted
            style: cinematic
            audio: true
    video-task:
      type: object
      description: |
        Represents a video generation task. Tasks are async — submit a
        request to create one, then poll `GET /v1/videos/{task_id}` or
        register a webhook to receive completion.

        Status lifecycle:
        ```
        queued → in_progress → completed
                            ↘ failed
                            ↘ cancelled
        ```
      required:
        - id
        - object
        - model
        - status
        - progress
        - created_at
      properties:
        id:
          type: string
          description: Unique video task ID
          example: video_abc123def456
        object:
          type: string
          enum:
            - video
        model:
          type: string
          description: |
            The model used. Examples:
            - `seedance-2.0` (ByteDance Seedance)
            - `veo_3_1-fast`, `veo_3_1-pro` (Google Veo)
            - `sora-2`, `sora-2-pro` (OpenAI Sora)
          example: seedance-2.0
        status:
          type: string
          enum:
            - queued
            - in_progress
            - completed
            - failed
            - cancelled
          description: Current task state
        progress:
          type: integer
          minimum: 0
          maximum: 100
          description: Generation progress percentage (0-100)
          example: 45
        created_at:
          type: integer
          description: Unix timestamp (seconds) when the task was created
          example: 1700000000
        completed_at:
          type:
            - integer
            - 'null'
          description: Unix timestamp when the task completed (null if not done)
        expires_at:
          type:
            - integer
            - 'null'
          description: |
            Unix timestamp when the video content URL expires. After this,
            you must re-fetch via `GET /v1/videos/{id}/content`.
        seconds:
          type: string
          description: Duration of the generated video (e.g. "5", "8", "10")
          example: '5'
        size:
          type: string
          description: Resolution in `WxH` format
          example: 1280x720
        url:
          type: string
          format: uri
          description: |
            Direct URL to the video file. Only present when `status=completed`.
            Expires at `expires_at`. For permanent storage, download via
            `GET /v1/videos/{id}/content`.
        error:
          type: object
          description: |
            Error details. Only present when `status=failed`.
          properties:
            code:
              type: string
              example: content_policy_violation
            message:
              type: string
              example: Prompt was blocked by content filter
        metadata:
          type: object
          additionalProperties: true
          description: |
            Additional model-specific data (e.g. `seed`, `negative_prompt`,
            `style`). Model-dependent.
  responses:
    BadRequest:
      $ref: '#/components/responses/bad-request'
    Unauthorized:
      $ref: '#/components/responses/unauthorized'
    Forbidden:
      $ref: '#/components/responses/forbidden'
    NotFound:
      $ref: '#/components/responses/not-found'
    RateLimited:
      $ref: '#/components/responses/rate-limited'
    ServerError:
      $ref: '#/components/responses/server-error'
    ModelList:
      $ref: '#/components/responses/model-list'
    model-list:
      description: List of available models
      content:
        application/json:
          schema:
            type: object
            required:
              - object
              - data
            properties:
              object:
                type: string
                enum:
                  - list
              data:
                type: array
                items:
                  $ref: '#/components/schemas/model-info'
    unauthorized:
      description: |
        Authentication failed. Missing, invalid, or expired API key.
        Check the `Authorization: Bearer ...` header.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          example:
            error:
              message: Invalid API key
              type: authentication_error
              code: invalid_api_key
              param: null
    rate-limited:
      description: |
        Rate limit exceeded. Wait and retry with exponential backoff.
        Default limits: 60 req/min, 500K tokens/min.
        Per-key headers in response:
        - `X-RateLimit-Limit-Requests`
        - `X-RateLimit-Remaining-Requests`
        - `X-RateLimit-Reset-Requests`
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          example:
            error:
              message: Rate limit reached for requests
              type: rate_limit_error
              code: rate_limit_exceeded
              param: null
    bad-request:
      description: |
        Malformed request: invalid JSON, missing required fields, invalid
        parameter values, or model rejected the request.
        Do not retry without changing the request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          example:
            error:
              message: 'Invalid value for ''temperature'': must be between 0 and 2'
              type: invalid_request_error
              code: invalid_parameter
              param: temperature
    forbidden:
      description: |
        API key lacks required scope, or the model is not in your plan.
        Upgrade your plan or use a different key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          example:
            error:
              message: Model 'gpt-5' is not available on your current plan
              type: permission_error
              code: model_not_accessible
              param: model
    server-error:
      description: |
        Server error. Either our gateway or an upstream provider failed.
        Safe to retry with exponential backoff. Report if persistent.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          example:
            error:
              message: Upstream provider returned an error
              type: server_error
              code: upstream_error
              param: null
    not-found:
      description: |
        The requested resource does not exist. Check the URL and resource ID.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          example:
            error:
              message: Video task 'video_xyz' not found
              type: not_found_error
              code: resource_not_found
              param: task_id
