openapi: 3.1.0
info:
  title: InfinityBlue API
  version: 1.0.0
  summary: Unified OpenAI-compatible API gateway
  description: |
    InfinityBlue is a unified API gateway for AI models. It exposes
    OpenAI-compatible endpoints for chat, images, videos, embeddings,
    and more — backed by 100+ models from OpenAI, Anthropic, Google,
    ByteDance, and Stability.

    ## Authentication

    All requests require a Bearer token:

    ```
    Authorization: Bearer YOUR_API_KEY
    ```

    ## Endpoint format conventions

    - `/v1/*` — OpenAI-compatible (and OpenAI Responses)
    - `/v1/messages` — Anthropic Messages format
    - `/v1beta/models/*:generateContent` — Google Gemini native format

    ## Model selection

    Pass any model ID in the `model` parameter. See
    [`GET /v1/models`](/api-reference/models/list-models) for the full
    list. Common IDs:
    - Chat: `gpt-4o`, `gpt-5`, `claude-sonnet-4-6`, `gemini-2.5-pro`
    - Image: `gpt-image-1`, `dall-e-3`, `flux-pro-1.1`
    - Video: `seedance-2.0`, `veo_3_1-fast`, `sora-2`

    ## Rate limits

    Per API key:
    - 60 requests/minute
    - 500,000 tokens/minute

    Higher tiers available in the dashboard.
  contact:
    name: InfinityBlue Support
    email: support@infinityblue.com
    url: https://infinityblue.com/support
  license:
    name: Proprietary
    url: https://infinityblue.com/terms

servers:
  - url: https://api.infinityblue.com
    description: Production
    variables: {}

security:
  - bearerAuth: []

tags:
  - name: models
    description: List and discover available models
  - name: chat
    description: |
      Chat completions. Multiple endpoint formats supported:
      - `/v1/chat/completions` — OpenAI Chat Completions (recommended)
      - `/v1/responses` — OpenAI Responses
      - `/v1/messages` — Anthropic Messages
      - `/v1beta/models/{model}:generateContent` — Google Gemini
  - name: images
    description: |
      Image generation and editing.
      - `/v1/images/*` — OpenAI Images
      - `/v1beta/models/*:generateContent` — Google Gemini (Nano Banana etc.)
  - name: videos
    description: |
      Async video generation. Submit a task, then poll or use
      webhooks to receive completion.
      - `/v1/videos` — main endpoint (supports Seedance, Veo, Sora, Kling)
      - `/v1/video/generations` — legacy alias (deprecated)

paths:
  /v1/models:
    $ref: ./paths/models-list.yaml
  /v1/chat/completions:
    $ref: ./paths/chat-completions.yaml
  /v1/responses:
    $ref: ./paths/responses.yaml
  /v1/messages:
    $ref: ./paths/messages.yaml
  /v1/images/generations:
    $ref: ./paths/images-generations.yaml
  /v1/images/edits:
    $ref: ./paths/images-edits.yaml
  /v1/videos:
    $ref: ./paths/videos-create.yaml
  /v1/videos/{task_id}:
    $ref: ./paths/videos-get.yaml
  /v1/videos/{task_id}/content:
    $ref: ./paths/videos-content.yaml
  /v1/video/generations:
    $ref: ./paths/video-generations-legacy.yaml
  /v1/video/generations/{task_id}:
    $ref: ./paths/video-generations-legacy-get.yaml

  # Gemini-compatible paths (under /v1beta)
  /v1beta/models:
    $ref: ./paths/models-list-gemini.yaml
  /v1beta/models/{model}:generateContent:
    $ref: ./paths/gemini-generate-content.yaml

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: |
        Pass your API key as a Bearer token:
        `Authorization: Bearer YOUR_API_KEY`
  schemas:
    Error:
      $ref: ./components/schemas/error.yaml
    ChatMessage:
      $ref: ./components/schemas/chat-message.yaml
    ToolCall:
      $ref: ./components/schemas/tool-call.yaml
    Tool:
      $ref: ./components/schemas/tool.yaml
    Usage:
      $ref: ./components/schemas/usage.yaml
    ModelInfo:
      $ref: ./components/schemas/model-info.yaml
    ChatCompletionRequest:
      $ref: ./components/schemas/chat-completion-request.yaml
    ChatCompletionResponse:
      $ref: ./components/schemas/chat-completion-response.yaml
    ChatCompletionChoice:
      $ref: ./components/schemas/chat-completion-choice.yaml
    ContentPartText:
      $ref: ./components/schemas/content-part-text.yaml
    ContentPartImage:
      $ref: ./components/schemas/content-part-image.yaml
    ContentPartAudio:
      $ref: ./components/schemas/content-part-audio.yaml
    ResponseFormatText:
      $ref: ./components/schemas/response-format-text.yaml
    ResponseFormatJsonObject:
      $ref: ./components/schemas/response-format-json-object.yaml
    ResponseFormatJsonSchema:
      $ref: ./components/schemas/response-format-json-schema.yaml
    ImageGenerationRequest:
      $ref: ./components/schemas/image-generation-request.yaml
    ImageGenerationResponse:
      $ref: ./components/schemas/image-generation-response.yaml
    ImageEditRequest:
      $ref: ./components/schemas/image-edit-request.yaml
    VideoTask:
      $ref: ./components/schemas/video-task.yaml
    VideoCreationRequest:
      $ref: ./components/schemas/video-creation-request.yaml
  responses:
    BadRequest:
      $ref: ./components/responses/bad-request.yaml
    Unauthorized:
      $ref: ./components/responses/unauthorized.yaml
    Forbidden:
      $ref: ./components/responses/forbidden.yaml
    NotFound:
      $ref: ./components/responses/not-found.yaml
    RateLimited:
      $ref: ./components/responses/rate-limited.yaml
    ServerError:
      $ref: ./components/responses/server-error.yaml
    ModelList:
      $ref: ./components/responses/model-list.yaml
